<ion-content>
  <div class="close-button">
    <ion-button fill="clear" (click)="closePage()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </div>
 
  <div class="profile-container">
    <div class="content-section">
      <div class="image-section">
        <img src="../../../assets/rodney.jpg" alt="Rodney Workman" class="profile-image">
        <div class="contact">
          <a href="mailto:rworkman&#64;midinfra.com" class="email">
            <ion-icon name="mail-outline"></ion-icon>
            rworkman&#64;midinfra.com
          </a>
        </div>
      </div>
      <div class="text-section">
        <h1 class="main-title">RODNEY WORKMAN</h1>
        <h2 class="sub-title">Operating Partner</h2>
       
        <div class="bio-content">
          <p>Rodney is a seasoned transportation industry executive with over four decades of experience in railroad operations, safety, and management.</p>
          <p>During his 37-year tenure at CSX, Rodney rose from a trackman to General Manager/Assistant Vice President of Train Accident Prevention. He held various leadership positions including Trainmaster, Terminal Manager/Superintendent, Division Superintendent, and Division Manager, Director - Service Product, Superintendent ISE, General Manager - Terminal Operations, and General Manager - Rules Compliance.</p>
          <p>Rodney’s key accomplishments at CSX include leading large teams, ensuring safety goals and accident prevention, developing FRA approved event recording systems, implementing field training programs for locomotive engineers and conductors, measurement systems and managing operations after natural disasters including hurricane Katrina in 2005.</p>
          <p>Rodney has also developed national initiatives with the AAR, FTA, and APTA. He also conducted assessments and provided management recommendations for companies including Alaska Railroad, Ingredion Inc., Dow Chemical, and Phillips 66. Rodney's expertise spans Operations Management, Logistics, Change Management, Project Management, Lean Manufacturing, Continuous Improvement, and Strategic Planning. He holds a strong track record in driving operational excellence and safety in the railroad industry.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content> 