<ion-content>
  <div class="close-button">
    <ion-button fill="clear" (click)="closePage()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </div>
 
  <div class="profile-container">
    <div class="content-section">
      <div class="image-section">
        <img src="../../../assets/alex headshot.jpg" alt="Alex Weinstein" class="profile-image">
        <div class="contact">
          <a href="mailto:aweinstein&#64;midinfra.com" class="email">
            <ion-icon name="mail-outline"></ion-icon>
            aweinstein&#64;midinfra.com
          </a>
        </div>
      </div>
      <div class="text-section">
        <h1 class="main-title">ALEX WEINSTEIN</h1>
        <h2 class="sub-title">Vice President</h2>
       
        <div class="bio-content">
          <p>Alex has more than a decade of progressive experience in mergers and acquisitions (M&A) investment banking and aerospace engineering. Prior to joining MidInfra, Alex served as a Vice President in M&A at Lincoln International, a global elite boutique investment bank, advising public and private clients regarding strategic alternatives on sell-side and buy-side. During his tenure at Lincoln, he closed more than 15 transactions worth more than $3 billion in TEV.</p>
         
          <p>He also has significant experience as an aerospace engineer, working at companies and organizations, including Boeing and Raytheon Technologies and NASA's Jet Propulsion Laboratory, designing and developing jet engines and spacecraft components.</p>
          
          <p>Alex earned a Master of Business Administration from Columbia Business School and a Bachelor of Science in mechanical engineering from Columbia University.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>