<ion-content>
  <div class="close-button">
    <ion-button fill="clear" (click)="closePage()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </div>
  
  <div class="profile-container">
    <div class="content-section">
      <div class="image-section">
        <img src="../../../assets/team6.jpg" alt="Raj K. Gupta" class="profile-image"style="filter: grayscale(100%);">
        <div class="contact">
          <a href="mailto:rgupta&#64;midinfra.com" class="email">
            <ion-icon name="mail-outline"></ion-icon>
            rgupta&#64;midinfra.com
          </a>
        </div>
      </div>

      <div class="text-section">
        <h1 class="main-title">RAJ K. GUPTA</h1>
        <h2 class="sub-title">President</h2>
        
        <div class="bio-content">
          <p>Raj has more than 30 years of experience as an infrastructure and private equity investor and developer/entrepreneur for private equity-funded transactions. Along with Mr. Lamphere, Raj has been deeply immersed in the rail industry for ten years as the co-founder of MidRail LLC, where he has analyzed and negotiated over 25 rail transactions (exceeding $4 billion in TEV), including Dow Rail, which he conceptualized, the acquisition of Patriot Rail Holdings and developing a new railroad company from scratch to run Shortlines railroad track spun-off from a Class I railroad.</p>
         
<p>His prior experience includes serving as the Founder/Managing Partner of FlatWorld Capital, CEO of FlatWorld Acquisition Corp. (a publicly traded SPAC), and Founder/CEO of a wireless technology company, YadaYada Inc. (created a device similar to the current iPhone) which became the third-largest independent wireless ISP in the U.S. in 2000.</p>

<p>Raj has significant private equity and investment banking experience with FlatWorld Capital, CIBC Oppenheimer, and JP Morgan Chase. Raj graduated from Trinity College with a B.S. degree in Computer Engineering and Economics</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>