<ion-content>
  <div class="close-button">
    <ion-button fill="clear" (click)="closePage()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </div>
  <div class="content-container">
    <div class="image-section">
      <img src="../../../assets/learnmoreimg.jpg" alt="Building exterior" class="feature-image">
    </div>
    <div class="text-section">
      <h1 class="title" style="font-family: 'Your-Font-Name', sans-serif;">About Us</h1>
      <div class="content-text">
        <p>MidInfra is an infrastructure asset management and operating company focused on originating, acquiring, consolidating and developing integrated transportation and digital infrastructure assets (e.g., data transmission and data centers) and operations across North America, and around the globe. MidInfra intends to acquire and operate these assets directly, leveraging more than 200 years of collective experience investing in, and transforming “good” assets into world-leading, best-of-breed operations.</p>
        
        <p>We seek undiscovered, underfollowed and underinvested assets to apply our strategic focus, operational excellence and access to high-quality capital to generate outsized risk-adjusted returns for our investors and Limited Partners.</p>
      </div>
    </div>
  </div>
</ion-content>