<ion-content>
  <div class="close-button">
    <ion-button fill="clear" (click)="closePage()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </div>
 
  <div class="profile-container">
    <div class="content-section">
      <div class="image-section">
        <img src="../../../assets/ben headshot.jpg" alt="Ben Samuels" class="profile-image">
        <div class="contact">
          <a href="mailto:bsamuels&#64;midinfra.com" class="email">
            <ion-icon name="mail-outline"></ion-icon>
            bsamuels&#64;midinfra.com
          </a>
        </div>
      </div>
      <div class="text-section">
        <h1 class="main-title">BEN SAMUELS</h1>
        <h2 class="sub-title">Senior Associate</h2>
       
        <div class="bio-content">
          <p>Ben brings unique M&A experience within the railroad industry and has spent his career in acquisitions and asset management for privately held owner-operator firms. Prior to joining MidInfra, Ben was the Corporate Development Manager for OmniTRAX, Inc., North America's third-largest railroad shortline owner-operator, managing acquisitions of railroad and real estate assets and developing strategic growth initiatives surrounding shortline railroads, industrial parks, ports, railroad real estate, transloading, and other rail-driven revenue streams.</p>
         
          <p>Ben earned a Master's degree in Sustainable Real Estate Development and a Bachelor's degree in Business Management & Entrepreneurship from Tulane University.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>