

<!-- Main Content -->
<div class="landing-page" id="main-content" (click)="closeMenu()">
  <div class="nav-header">
    <div class="nav-items">
      @if (!isMobile()) {
        @for (item of menuItems; track $index) {
          <ion-button
            fill="clear"
            color="light"
            (click)="navigateTo(item)"
            class="nav-button"
          >
            <span style="color: white;">{{ item }}</span>
          </ion-button>
        }
      } @else {
        <ion-menu-button color="light"></ion-menu-button>
      }
      <div class="nav-brand" [class.visible]="showLogo._showLogo">
        <img src="../../../assets/midlogo.png" alt="MidInfra Logo" class="header-logo">
      </div>
    </div>
  </div>
  
  <div class="hero-container">
    <img src="../../../assets/midlogo.png" alt="MidInfra Logo" class="logo">
  </div>
</div>