 <!-- Navigation Header -->
  <div class="landing-page">
 <div class="nav-header">
  <img src="../../../assets/midlogo.png" alt="MidInfra Logo" class="logomenu">
  <div class="nav-items">
    @for (item of menuItems; track $index) {
      <ion-button 
        fill="clear" 
        color="light" 
        (click)="navigateTo(item)"
        class="nav-button"
      > <span style="color: white;">
        {{ item }}
      </span>
        
      </ion-button>
    }
  </div>
</div>

<!-- Hero Section -->
<div class="hero-container">
  <img src="../../../assets/midlogo.png" alt="MidInfra Logo" class="logo">
</div>

</div>