<div class="cards-container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" class="card">
        <img src="../../../assets/Historysection.jpg" alt="History" class="card-image" (click)="navigateToHistory()" />
        <div class="card-footer" (click)="navigateToHistory()">
          <h3 class="card-title">History</h3>
          <hr class="underline" />
        </div>
      </ion-col>  
      <ion-col size="12" size-md="4" class="card">
        <img src="../../../assets/approach.png" alt="Approach" class="card-image" (click)="navigateToApproach()" />
        <div class="card-footer" (click)="navigateToApproach()">
          <h3 class="card-title">Approach</h3>
          <hr class="underline" />
        </div>
      </ion-col>
      <ion-col size="12" size-md="4" class="card">
        <img src="../../../assets/message.png" alt="Message" class="card-image" (click)="navigateToMessage()" />
        <div class="card-footer" (click)="navigateToMessage()">
          <h3 class="card-title">Message</h3>
          <hr class="underline" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>