.cards-container {
    --ion-grid-column-padding: 20px; /* Add padding between columns */
    background: linear-gradient(to right, #FFFFFF 75%, #D9D9D9 75%);
    padding: 20px;
  }
  
  
  .card {
    
    
    overflow: hidden;
    text-align: center;
    margin: 10px 0; /* Additional spacing between rows if needed */
  }
  
  .card-image {
    width: 60%;
    height: 250px; /* Increase height to make images longer */
    object-fit: cover;
  }
  
  .card-footer {
    background-color: #007acc; /* Footer background color */
    padding: 10px 0;
    width: 60%; /* Set the width to 80% of the parent container */
    margin: 0 auto; /* Center the footer */
}

  
  .card-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .underline {
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 5px auto 0 auto;
  }
  