<ion-app>
  
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item 
              (click)="scrollTo(p.fragment)" 
              lines="none" 
              detail="false" 
              class="ion-activatable"
            >
    
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
 
</ion-app>
