<ion-content>
  <div class="close-button">
    <ion-button fill="clear" (click)="closePage()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </div>
  <div class="story-container">
    <div class="text-section">
      <h2 class="subtitle">OUR HISTORY</h2>
     
      <h1 class="main-title">
        A Legacy of Transformation in Rail and Infrastructure
      </h1>
     
      <div class="story-text">
        <p>MidInfra was founded by a team of operating executives with more than 200 combined years of experience building, transforming, and operating all types of freight rail organizations, and is led by Raj K. Gupta and Gilbert H. Lamphere. The MidInfra team envisioned, developed and implemented the freight rail operating strategy, Precision Scheduled Railroading ("PSR"), which has revolutionized freight rail operations in North America, leading to more than $100 billion in value creation for shareholders over the last 25 years.</p>
       
        <p>Our Chairman, Mr. Lamphere, is the former Chairman of the Illinois Central Rail Co. ("IC" – formerly 5th largest Class I Railroad, now part of CN) and Co-Founder of MidSouth Rail ("MidSouth" – the first short-line rail holding company in North America). He is currently on the board of Norfolk Southern Railway ("NS"), has served as a former board member of Canadian National Rail Co. ("CN" – the largest railroad in Canada), CSX Corp. ("CSX" – the 3rd largest railroad in the USA), and Florida East Coast Rail Co. ("FLE" – the largest Class II railroad in North America).</p>

        <p>Subsequently, Mr. Lamphere was a leading director at CN and FLE and brought in rail operating executives from Mr. Lamphere's senior leadership teams at IC and MidSouth, who were instrumental in transforming the companies, resulting in multi-billion-dollar value creation for shareholders. In addition to Mr. Lamphere and Mr. Gupta, MidInfra's operating partners include two former industrial executives and more than thirty additional industry operating executives.</p>

        <p>After seeing the successful implementation of PSR across most North American transcontinental/Class I railroads, MidInfra began to explore alternative areas in the railroad sector, which led to the discovery of Industrial Rail nearly a decade ago. We have named these rail operations concentrated around large industrial customers "Industrial Rail", and believe this is a largely <strong>undiscovered</strong>, <strong>underfollowed</strong>, and <strong>underinvested</strong> subsegment with hundreds of potential sites across North America and thousands of sites around the globe.</p>

        <p class="emphasis bold-text">Our team is known for doing what many say "cannot be done," and has the track record to prove it.</p>
      </div>
    </div>
   
    <div class="image-section">
      <img src="../../../assets/historyimg.jpg" alt="Infrastructure landscape" class="feature-image">
    </div>
  </div>
</ion-content>