<div id="strategy">
  <div class="strategy-focus-container">
    <!-- SVG Background -->
    <img class="background-svg" src="../../../assets/svgs/bg.svg" alt="Background" />
    <div class="strategy-title">
      <h1>Strategy and Focus</h1>
    </div>
    <div class="focus-boxes">
      <div class="focus-box" (click)="navigateToIndustrialRail()">
        <div class="icon">
          <img src="../../../assets/svgs/trains.svg" alt="Industrial Rail" />
        </div>
        <div class="title">Shortline and Industrial Rail</div>
      </div>
      <div class="focus-box" (click)="navigateToPorts()">
        <div class="icon">
          <img src="../../../assets/svgs/anchor.svg" alt="Ports" />
        </div>
        <div class="title">Ports</div>
      </div>
      <div class="focus-box" (click)="navigateToRailParks()">
        <div class="icon">
          <img src="../../../assets/svgs/tracks.svg" alt="Rail-Integrated Industrial Parks" />
        </div>
        <div class="title">Rail-Integrated Industrial Parks</div>
      </div>
      <div class="focus-box" (click)="navigateToCommodity()">
        <div class="icon">
          <img src="../../../assets/svgs/bus.svg" alt="Commodity Management, Storage and Transportation" />
        </div>
        <div class="title">Commodity Management, Storage and Transportation</div>
      </div>
      <div class="focus-box" (click)="navigateToData()">
        <div class="icon">
          <img src="../../../assets/svgs/server.svg" alt="Data Connectivity Infrastructure" />
        </div>
        <div class="title">Data Connectivity Infrastructure</div>
      </div>
    </div>
  </div>
</div>